{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Password | Hamro accountant</title>
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
  </head>
  <body class="bg-img"> 
    <div class="wrapper">
      <div class="title">Change Password</div>
      <form method="post">
        {% csrf_token %}
        <div class="source-errors">
            {{form.non_field_errors}}
            {{form.source.errors}}
            {{form.source}}
        </div>
        <div class="field">
          {{form.old_password}}
          <label>Old Password</label>
        </div>
        <div class="source-errors">
            {{form.old_password.errors}}
            </div>
        <div class="field">
          {{form.new_password1}}
          <label> New Password</label>
        </div>
        <div class="source-errors">
            {{form.new_password1.errors}}
            </div>
        <div class="field">
            {{form.new_password2}}
            <label> Confirm New Password</label>
          </div>
          <div class="source-errors">
          {{form.new_password2.errors}}
          </div>
        <div class="field">
          <input type="submit" value="Change Password">
        </div>
        <div class="signup-link">Change Your Mind ?<a href="{% url 'payapp:index'%}"> Home Page</a></div>
      </form>
    </div>

  </body>
</html>


